<% if notice %>
    <aside id="notice"><%= notice %></aside>
<% end %>

<div class="main_header">
    <h1>Editing User <%= @user.name %></h1>
</div>

<div class='flex_table column'>

    <%= render 'form', user: @user %>

    <%= javascript_pack_tag("pass_field") %>

    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', users_path %>

</div>