<% if notice %>
    <aside id="notice"><%= notice %></aside>
<% end %>

<div class="main_header">
    <h1>Orders</h1>
</div>

<div class="flex_table">

    <% if @orders.any? %>

        <% @orders.each do |order| %>

            <% @alt_color = cycle('list_line_odd', 'list_line_even'); %>
            
            <div class="flex_table-row">
                <div class="flex_table-cell <%= @alt_color %>">
                    <%= order.name %>
                </div>
                <div class="flex_table-cell <%= @alt_color %>">
                    <%= order.address %>
                </div>
                <div class="flex_table-cell <%= @alt_color %>">
                    <%= order.email %>
                </div>
                <div class="flex_table-cell <%= @alt_color %>">
                    <%= order.pay_type %>
                </div>

                <div class="actions flex_table-cell <%= @alt_color %>">
                    <ul>
                        <li class="neu_button"> <%= link_to 'Show', order %> </li>
                        <li class="neu_button"> <%= link_to 'Edit', edit_order_path(order) %></li>
                        <li class="neu_button"> <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                    </ul>
                </div>
            </div>
      
        <% end %>

    <% else %>

      <div class="empty">There are no products found.</div>

    <% end %>

</div>

<div class="footerlinks">
    <div class="neu_button">
      <%= link_to 'New Order', new_order_path %>
    </div>
</div>

