<% unless cart.line_items.empty? %>
<article>
    <% if notice && !mute_notice %>
    
        <aside id="notice"><%= notice %></aside>
    
    <% end

        @remote = false;

        if(defined?(is_remote))
             @remote = is_remote;                     
        end

    %>

    <div class="main_header">
        <h1><%= t('.title') %></h1>
    </div>

    <div class="flex_table">

        <% if cart.line_items.any? %>

            <ul>

                <%= render cart.line_items, is_remote: @remote, cart: cart %>
                    
                <li class="total">
                    <span>Total: </span>
                    <span><%= number_to_currency(cart.total_price, unit: '₱') + ' PHP' %></span>
                </li>

            </ul>
            
            <div class="actions">
                <div class="empty_cart">
                    <%= button_to t('.empty'), cart, method: :delete, data: { confirm: t('.cart_empty') }, remote: @remote %>
                </div>
                
                <% if controller.controller_name != 'orders' %>
                <div class="proceed_checkout">
                    <%= button_to t('.checkout'), new_order_path(locale: I18n.locale), method: :get, class: "checkout"%>
                </div>
                <% end %>
            </div>
        
        <% else %>

            <div class="empty"> <%= t('.cart_empty') %></div>

        <% end %>

    </div>
</article>
<% end %>