<% if notice %>
    <aside id="notice"><%= notice %></aside>
<% end %>

<div class="main_header">

    <h1>
      <%= @product.title %>
    </h1>

</div>

<div class="flex_table column">

    <div>
      <%= image_tag @product.image_url %>
    </div>

    <div>
      <%= sanitize(@product.description) %>
    </div>

    <div>
      <%= @product.price %>
    </div>

    <div class="footerlinks">
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
    </div>

</div>

