<% if notice %>
    <aside id="notice"><%= notice %></aside>
<% end %>

<div class="main_header">

    <h1><%= t('.title_html') %></h1>

    <% if defined?(@counter)
        if @counter > 5 %>
            <div class="info">
                your store <%= 'visit'.pluralize @counter %>:  
                <span>
                    <%= @counter %>
                </span>
            </div>
    <%  end 
    end %>

</div>

<div class="flex_table">
  
    <% if @products.any? %>
        <% cache @products do %>
            <% @products.each do |product| %>
                <% cache product do %>

                    <% 
                        @alt_color = cycle('list_line_odd', 'list_line_even');
                        
                        @highlight = ''
                        
                        if defined?(current_product)
                            if(current_product.id == product.id)
                                @highlight = 'product_item-highlight'
                            end
                        end
                    %>

                    <div class="image flex_table-cell 
                        <%= @alt_color %>
                        <%= @highlight %>
                    ">
                        <div class="image-thumb">
                            <%= image_tag  product.image_url, class: "list_image" %>
                            <%= button_to t('.add_html'), line_items_path(product_id: product, locale: I18n.locale), remote: true %>
                        </div>
                        <div class="price">
                            <%= number_to_currency(product.price, unit: '₱') + ' PHP' %>
                        </div>
                        <div class="add_to_cart">
                            <%= button_to t('.add_html'), line_items_path(product_id: product, locale: I18n.locale), remote: true %>
                        </div>
                    </div>

                    <div class="description flex_table-cell 
                        <%= @alt_color %>
                        <%= @highlight %>
                    ">
                        <div class="description-content">
                            
                            <h2>
                                <%= product.title %>
                            </h2>
                            
                            <p>
                                <%= sanitize(product.description) %>
                            </p>
                            
                        </div>
                    </div>
        
                <% end %>
            <% end %>
        <% end %>

    <% else %>

        <div class="empty"><%= t(".no_products") %></div>

    <% end %>

</div>