<% if notice %>
    <aside id="notice"><%= notice %></aside>
<% end %>

<div class="main_header">

    <h1>Catalog</h1>

    <% if @counter > 5 %>
        <div class="info">
            your store <%= 'visit'.pluralize @counter %>:  
            <span>
                <%= @counter %>
            </span>
        </div>
    <% end %>

</div>

<div class="flex_table">
  
    <% if @products.any? %>
        <% cache @products do %>
            <% @products.each do |product| %>
                <% cache product do %>

                    <% @alt_color = cycle('list_line_odd', 'list_line_even'); %>

                    <div class="image flex_table-cell <%= @alt_color %>">
                        <div class="image-thumb">
                            <%= image_tag  product.image_url, class: "list_image" %>
                        </div>
                        <div class="price">
                            <%= number_to_currency(product.price, unit: '₱') + ' PHP' %>
                        </div>
                        <div class="add_to_cart">
                            <%= button_to 'Add to Cart', line_items_path(product_id: product) %>
                        </div>
                    </div>

                    <div class="description flex_table-cell <%= @alt_color %>">
                        <div class="description-content">
                            
                            <h2>
                                <%= product.title %>
                            </h2>
                            
                            <p>
                                <%= sanitize(product.description) %>
                            </p>
                            
                        </div>
                    </div>
        
                <% end %>
            <% end %>
        <% end %>

    <% else %>

    <div class="empty">There are no products found.</div>

  <% end %>

</div>