<!DOCTYPE html>
<html>

    <head>
        <title>Pragprog Online Store</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <div class="main_wrapper">

            <header class="main_banner">
                <h1>Supply Depot<sup>+</sup></h1>
            </header>

            <section class="main_content">

                <nav class="side_nav">

                    <div id="cart" class="carts">
                        <%= render_if @cart && @cart.line_items.any?, @cart, {mute_notice: true, is_remote: true} %>
                    </div>
                    
                    <ul class="nav_buttons">
                        <li class="neu_button"><a href="/">Home</a></li>
                        <li class="neu_button"><a href="/questions">Questions</a></li>
                        <li class="neu_button"><a href="/news">News</a></li>
                        <li class="neu_button"><a href="/contact">Contact</a></li>
                    </ul>

                    <div class="date_time">
                        <span><%= Time.now.strftime("%h %d, %Y\n%I:%M:%S %p") %></span>
                    </div>

                </nav>

                <main class='<%= controller.controller_name %>'>
                    <%= yield %>
                </main>

            </section>

        </div>

    </body>

</html>